<app-navbar></app-navbar>
<router-outlet></router-outlet>
<hr />

<app-about></app-about>
<hr />
<app-contact></app-contact>
<hr />
<app-home></app-home>
<hr />
<app-products></app-products>
<hr />
<app-interpolation></app-interpolation>
<hr />
<app-property></app-property>
<hr />
<app-event-binding></app-event-binding>
<hr />
<app-two-binding></app-two-binding>
<hr />
<app-attribute></app-attribute>
<hr />
<app-structural></app-structural>
<hr />
<app-pipe-practice></app-pipe-practice>
<hr />
<app-parent></app-parent>
<hr />
<app-child></app-child>

<hr />
<app-parent-data></app-parent-data>

<hr />
<app-child-data></app-child-data>

<hr />

<app-ng-on-init></app-ng-on-init>
<hr />
<app-ng-do-check></app-ng-do-check>
<hr />
<app-ng-destroy></app-ng-destroy>
<hr />
<app-no-change-parent></app-no-change-parent>
<hr />

<app-on-change-child></app-on-change-child>
<hr />
<app-ng-after-content-checked-parent></app-ng-after-content-checked-parent>
<app-ng-after-content-checked-child></app-ng-after-content-checked-child>

<hr />
<app-ng-after-view-init></app-ng-after-view-init>
<hr />
<app-ng-after-view-checked></app-ng-after-view-checked>

<hr />
<app-service></app-service>
<hr />
