@if (employee) {
  <div class="details-page">
    <div class="page-header">
      <div>
        <h1>Employee Details</h1>
        <p>View employee information</p>
      </div>

      <div class="header-actions">
        <a routerLink="/employees" class="back-btn"> ← Back </a>

        <a [routerLink]="['/employees/edit', employee.id]" class="edit-btn">
          Edit
        </a>
      </div>
    </div>

    <div class="details-card">
      <div class="profile">
        <div class="avatar">
          {{ employee.name.charAt(0) }}
        </div>

        <div>
          <h2>{{ employee.name }}</h2>
          <p>{{ employee.department }}</p>
        </div>
      </div>

      <div class="details-grid">
        <div class="detail-item">
          <span>ID</span>

          <strong>
            {{ employee.id }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Name</span>

          <strong>
            {{ employee.name }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Email</span>

          <strong>
            {{ employee.email }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Phone</span>

          <strong>
            {{ employee.phone }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Department</span>

          <strong>
            {{ employee.department }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Salary</span>

          <strong> ₹{{ employee.salary }} </strong>
        </div>

        <div class="detail-item">
          <span>Joining Date</span>

          <strong>
            {{ employee.joining_date }}
          </strong>
        </div>

        <div class="detail-item">
          <span>Status</span>

          <strong
            [class.active]="employee.status === 'Active'"
            [class.inactive]="employee.status !== 'Active'"
          >
            {{ employee.status }}
          </strong>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="loading">Loading employee...</div>
}
