<h1>Carts</h1>

@if (loading) {
  <h3>Loading Carts...</h3>
} @else {
  <div class="cart-grid">
    @for (cart of carts; track cart.id) {
      <div class="cart-card">
        <h2>Cart #{{ cart.id }}</h2>

        <p>User ID: {{ cart.userId }}</p>
        <p>
          Total Products:
          {{ cart.totalProducts }}
        </p>

        <p>
          Total Quantity:
          {{ cart.totalQuantity }}
        </p>

        <h3>Total: ${{ cart.total }}</h3>

        <p>
          Discount:
          {{ cart.discountedTotal }}
        </p>
      </div>
    }
  </div>
}
