<h1>Products</h1>
<div class="search-box">
  <input
    type="text"
    placeholder="Search by product name, category or ID..."
    [value]="searchText"
    (input)="searchProducts($event)"
  />
</div>

@if (loading) {
  <h3 class="loading">Loading Products...</h3>
} @else {
  @if (products.length === 0) {
    <h3 class="no-data">No Products Found</h3>
  } @else {
    <div class="product-grid">
      @for (product of products; track product.id) {
        <div class="product-card">
          <img [src]="product.thumbnail" [alt]="product.title" />
          <h3>
            {{ product.title }}
          </h3>
          <p class="description">
            {{ product.description }}
          </p>
          <strong class="price"> ${{ product.price }} </strong>
          <p>
            <b>Category:</b>
            {{ product.category }}
          </p>
          <p>
            <b>Rating:</b>
            ⭐ {{ product.rating }}
          </p>
          <p>
            <b>Stock:</b>
            {{ product.stock }}
          </p>
        </div>
      }
    </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      @for (page of [].constructor(totalPages); track $index) {
        <button
          (click)="changePage($index + 1)"
          [class.active]="currentPage === $index + 1"
        >
          {{ $index + 1 }}
        </button>
      }
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
    <div class="page-info">
      <span>
        Page
        {{ currentPage }}
        of
        {{ totalPages }}
      </span>
      <span>
        Total Products:
        {{ totalProducts }}
      </span>
    </div>
  }
}
